$fd-support-css-var-fallback: true;
$fd-icons-path : "./../../node_modules/fiori-fundamentals/scss/icons/";
$fd-scss-font-path : "./../../node_modules/fiori-fundamentals/scss/fonts/";

@import "./../../node_modules/fiori-fundamentals/scss/all";

@import "./styles/main";

@import "./../../node_modules/vue-virtual-scroller/dist/vue-virtual-scroller.css";
