$fd-support-css-var-fallback: true;

$fd-icons-path : "./node_modules/fiori-fundamentals/scss/icons/"; // should be declared before the scss import

$fd-scss-font-path : "./node_modules/fiori-fundamentals/scss/fonts/";

@import "./node_modules/fiori-fundamentals/scss/all.scss";
