# Files that should be included in the npm package will be listed below.
# This is why we start by ignoring everything.
*

# Now include the important stuff…

## Source Maps
!dist/*.js.map

## The actual Artefacts
!dist/*.js
