.value-token {
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
}

.value-token__number {
  color: rgb(105, 1, 137);
  background-color: rgb(250, 234, 255);
}

.value-token__object {
  color: rgb(216, 244, 255);
  background-color: rgb(0, 100, 137);
}

.value-token__string {
  color: gray;
  background-color: clear;
}

.value-token__boolean {
  color: rgb(150, 72, 0);
  background-color: rgb(255, 243, 232);
}

.value-token__array {
  color: rgb(130, 0, 0);
  background-color: rgb(255, 206, 206);
}

.value-token__function {
  color: rgb(86, 86, 86);
  background-color: rgb(237, 237, 237);
}

.value-token__null {
  font-family: monospace;
  color: rgb(86, 86, 86);
  background-color: rgb(237, 237, 237);
}

.value-token__unspecified {
  color: rgb(200, 200, 200);
  background-color: clear;
  /* rgb(250, 250, 250); */
}
