// Default modal overlay transition.
.fdv-overlay-enter-active,
.fdv-overlay-leave-active {
  transition: opacity 0.15s;
}

.fdv-overlay-enter,
.fdv-overlay-leave-to {
  opacity: 0;
}

// Default modal transition
.fdv-modal-enter {
  opacity: 0;
}

.fdv-modal-enter-to {
  opacity: 1;
}

.fdv-modal-enter-active,
.fdv-modal-leave-active {
  opacity: 0;
}

.fdv-modal-leave {
  opacity: 1;
}

.fdv-modal-leave-to {
  opacity: 0;
}

.fd-modal__content--overrides {
  width: 100%;
  height: 100%;
  display: flex;
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: inherit;
  flex-direction: column;
}

.fd-modal--overrides {
  max-width: none;
}

.fd-modal__body--overrides {
  flex-grow: 1;
  display: block;
  overflow: auto;
}