.type-token {
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
}

.type-token__number {
  color: rgb(105, 1, 137);
  background-color: rgb(250, 234, 255);
}

.type-token__object {
  color: rgb(216, 244, 255);
  background-color: rgb(0, 100, 137);
}

.type-token__string {
  color: rgb(119, 1, 62);
  background-color: rgb(255, 232, 243);
}
.type-token__boolean {
  color: rgb(150, 72, 0);
  background-color: rgb(255, 243, 232);
}

.type-token__array {
  color: rgb(130, 0, 0);
  background-color: rgb(255, 206, 206);
}

.type-token__raw {
  color: rgb(86, 86, 86);
  background-color: rgb(237, 237, 237);
}