
$fd-icons-path: "../node_modules/fundamental-ui/scss/icons/";
$fd-fonts-path: "../node_modules/fundamental-ui/dist/fonts/";
@import '../node_modules/fundamental-ui/scss/all.scss';

.App {
  background-color: white;
}

.fd-tile__content {
  .fd-badge, .fd-label, .fd-tag, 
  [class*='fd-button'], [class*='fd-identifier'], [class*='fd-image'], [class*='fd-form'] {
    margin-right: 10px;
  }

  .fd-button--grouped {
    margin-right: 0;
  }

  .fd-input-group {
    [class*='fd-button'] {
      margin-right: 0;
    }
  }
}

.fd-tabs__content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.docs-component {
  margin-bottom: -28px;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 8px;
  border: 1px solid #ccc;


}

.fd-side-nav--icons {
  max-width: 65px;
}

.container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logo {
    font-size: 1.25rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    > a {
      color: inherit;
    }
  }
  
  .logo-subtitle {
    font-size: .75rem;
  }
  
  .sidebar {
    color: #21262c;
    min-width: 16rem;
    background-color: #f1f3f6;
  }
  
  .nav {
    list-style: none;
    border-top: 2px solid #dbe7f3;
    height: 90%;
    overflow: auto;
  }
  
  .nav-item {
    display: block;
    color: #21262c;
    font-size: .875rem;
    position: relative;
    padding: 13px 40px;
  }
  
  .side-nav__headers{
    color: #424e5a;
    padding: 15px 20px;
    display: block;
  }
  
  .nav-item:hover {
    background-color: #e4eaf1;
  }
  
  .content {
    flex-grow: 1;
    overflow-y: scroll;
    padding-bottom: 2rem;
    background-color: white;
  }
  
  .content-margin {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .property-header {
    text-align: left;
    padding-right: 15px;
  }

  .header {
    margin: 12px 0;
  }

input[type=text], input[type=password], 
input[type=email], input[type=url], 
input[type=search], input[type=tel], 
input[type=number], input[type=date], 
textarea {
  border-radius: 0;
}

.fd-side-nav {
  max-width: 250px;
}

.nav-item.router-link-exact-active{
  padding-left: 34px;
  border-left: 6px solid #2fd0c8;
  background-color: #cfdbe7;
}